.table.table-head-custom thead tr,
.table.table-head-custom thead th {
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: black!important;
    background-color: #e4e6ef !important;
}

table > tfoot {
    background-color: #e4e6ef !important;
}


