body {
  margin: 20px;
  background: #222;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  /*gap: 40px;*/
  /*align-items: center;*/
  /*padding: 20px;*/
}

.top-section {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  gap: 80px;
  height: clamp(260px, 5vw, 300px);
}

.top-left-section {
  display: flex;
  flex-direction: column;
  /*gap: 80px;*/
}

.middle-section {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  gap: 80px;
  height: clamp(260px, 5vw, 300px);
}

.middle-left-section {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.name-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.flag {
  width: 40px;
  flex-shrink: 0;
}

.name-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  text-align: left;
}

.full-name-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 740px;
}

.full-name {
  display: inline-block;
  font-size: clamp(20px, 4vw, 48px);
  font-weight: bold;
  white-space: nowrap;
  will-change: transform;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: scrollText 30s linear infinite;
}

.club-name {
  font-size: clamp(12px, 2vw, 24px);
  opacity: 0.8;
  margin-top: 4px;
}

.controls-mini {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  justify-content: center;
}

.controls {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 2fr;
  grid-template-rows: repeat(2, 50px);
  gap: 10px;
  width: 460px;
}

button {
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.positive {
  background-color: #28a745;
  color: white;
}

.positive:hover {
  background-color: #218838;
}

.negative {
  background-color: #dc3545;
  color: white;
}

.negative:hover {
  background-color: #c82333;
}

.mini-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.mini-score-box1 {
  text-align: center;
  color: #0b47b3;
}

.mini-score-box2 {
  text-align: center;
  color: #d42f2f;
}

.mini-label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.mini-score {
  font-size: 80px;
  font-weight: bold;
}


.top-mid-section {
  display: flex;
  gap: 10px;
  /*align-items: flex-end;*/
  position: relative;
}

.middle-mid-section {
  display: flex;
  gap: 10px;
  /*align-items: flex-end;*/
  position: relative;
}

.double-stimer-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.dsbuttons {
  height: 50px;
  display: flex;
  justify-content: left;
}

.ds_button {
  height: 50px;
  background-color: black;
}

.dsbuttons button:hover {
  background: rgba(100, 100, 100, 0.5);
}

.exit-buttons {
  display: flex;
  align-items: flex-end;
}

.stimer-container {
  display: flex;
  flex-direction: column;
  position: relative;
  /*justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;*/
}

.stalling_transparent_button {
  position: absolute;
  top: 200;
  left: 10;
  width: 150px;
}

.stimer {
  font-size: 4rem;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  background-color: yellow;
  color: black;
  text-align: center;
  line-height: 100px;
}

.sbuttons {
  background-color: #dc3545;
  color: white;
}

.sbuttons:hover {
  background-color: #c82333;
}

.mtimer-container {
  position: relative;
  /*width: 150px;*/
  /*height: 100px;*/
  /*background: limegreen;*/
  color: white;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.mtime {
  font-size: 4rem;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  background-color: limegreen;
  color: black;
  text-align: center;
  line-height: 100px;
}

.mcontrols {
  position: absolute;
  top: 150;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
}

.mtimer-container:hover .mcontrols {
  display: flex;
}

.mrow {
  display: flex;
  justify-content: center;
  gap: 5px;
}

button {
  padding: 5px 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: rgba(150, 150, 150, 0.5);
  color: white;
  transition: background 0.2s;
}

button:hover {
  background: rgba(0, 0, 0, 0.5);
  /*       #777; */
}

/*
  .scoreboard-container {
    display: flex;
    justify-content: flex-start;
    width: 900px;
    max-width: 95vw;
  }

  .controls-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  
*/

.column-left {
  display: flex;
  align-items: center;
}

.top-right-section {
  display: flex;
  gap: 20px;
  /*justify-content: flex-start;*/
  /*width: 900px;*/
  /*max-width: 95vw;*/
  /*justify-content: center;*/
}

.middle-right-section {
  display: flex;
  gap: 20px;
}

.stimer-container {
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  /*height: 50px;*/
}

.scores-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: flex-end;
  min-width: 320px;
}

.score-container {
  border: 4px solid white;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  line-height: 1;
  user-select: none;
}

.score-top {
  background-color: #d42f2f;
}

.score-bottom {
  background-color: #0b47b3;
}

.score {
  font-size: clamp(100px, 30vw, 250px);
  white-space: nowrap;
}

.score.two-digits {
  font-size: clamp(80px, 20vw, 180px);
}

.score.three-digits {
  font-size: clamp(60px, 15vw, 130px);
}

.popup {
  display: none;
  position: fixed;
  width: 600px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* top: 50%; */
  transform: translateY(-50%);
  padding-bottom: 15px;
}

/* .open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
} */

/* .end-title {
  display: grid;
  grid-template-columns: 1fr;
  background-color: red;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px 2px;

} */

.end-top-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
}

.end-bottom-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 50px;
}

.popup-header {
  padding: 8px;
  color: #fff;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.popup button {
  margin-top: 15px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: black;
}

.popup button:hover {
  background: rgba(100, 100, 100, 0.5);
}

#popup1 {
  background-color: black;
  top: 18%;
  left: 10%;
}

#popup2 {
  background-color: black;
  top: 60%;
  left: 10%;
}

#popup3 {
  background-color: black;
  top: 38%;
  left: 18%;
  width: 300px;
}

#winner {
  background-color: yellow;
  color: black;
  margin-top: 30px;
  font-size: 5.5rem;
  font-weight: bold;
}

.red-header {
  background: crimson;
  text-align: center;
}

.blue-header {
  background: royalblue;
  text-align: center;
}

.end-double-btn {
  display: flex;
  justify-content: center;
  height: 50px;
}